*{
  margin: 0;
  padding: 0;
}
.all-tag{
  border: 1px solid black;
  text-align: center;
  width: 1000px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;

}
.basiccolor{
  height: 200px;
  width: 200px;
  background-color: pink;
  display: inline-block;
  margin-right: 25px;
  border: 1px solid black;
  cursor: pointer;
  transition: .9s;
  
  

}
.div1 {
  transform: translateY(0px);
  
}
.div1:hover{
  transform: translateY(60px);
}

.div2{
  transform: rotate(0deg);
}
.div2:hover{
  transform: rotate(360deg);
}
.div3{
  transform: skew(0);
}
.div3:hover{
  transform: skew(30deg);
}
.div4{
  transform: scale(1);
}

.div4:hover{
  transform: scale(1.1);
}
